@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Indie+Flower&display=swap");

.App {
  font-family: "Indie Flower";
  text-align: center;
}

input {
  padding: 1rem;
  width: 80%;
  border-radius: 1rem;
}

body {
  background-color: antiquewhite;
}

h1 {
  font-size: 10vh;
  font-weight: bolder;
}

div {
  font-size: 7vh;
}
